spring:
    datasource:
        url: jdbc:h2:file:./data/demo
        username: sa
        password: password
        driverClassName: org.h2.Driver
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
    h2:
        console:
            enabled: true
            path: /h2-console
            settings.trace: false
            settings.web-allow-others: false
